{block content-header}
    <h1>
        Add device
    </h1>
    <ol class="breadcrumb">
        <li><a n:href="default"><i class="fa fa-dashboard"></i> Devices</a></li>
        <li><a href="#">Add device</a></li>
    </ol>
{/block}

{block content-body}
    {control deviceForm}
{/block}