<!-- User Account: style can be found in dropdown.less -->
<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img src="{$basePath}/dist/img/avatar5.png" class="user-image" alt="User Image">
        <span class="hidden-xs">{$user->username}</span>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="{plink Sign:out}">Sign Out</a>
        </li>
    </ul>
</li>