{block content-body}
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Sign in</p>
            {control signInForm}
        </div>
        <!-- /.login-box-body -->
    </div>
{/block}